---
import '../styles/global.css'
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "About Nehemiah Archives";
const identity = {
    firstName: "Hokuto",
    country: "Japan",
    occupation: "Evangelical Data Journalist"    
};

const skills = ["Kotlin Programming Language", "Neo4j Graph Database", "Devops", "Christian Journalism"]
const languages = new Map([
    ["Japanese", "Native"],
    ["Korean", "Native in Speaking and Listening in Christianity and Tech Vocabulary, biguineer in reading and writing"],
    ["English", "Business and Academic level of fluency in speaking, listening, reading and writing, specialized in Christianity and Tech area"]
]);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style>
            p {
                font-weight: bold;
            }
            .bold {
                font-weight: bold;
            }            
        </style>
	</head>
	<body>
        <Navigation />

		<h1>{pageTitle}</h1>

        <p>Here is few facts on me:</p>
        <ul>
            <li>My name is <span class="bold">{identity.firstName} Ide</span>, also known as <span class="bold">Joel</span>.</li>
            <li>I live in {identity.country}, I work as {identity.occupation}.</li>      
        </ul>

        <p>My skills are following:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li> )}
        </ul>

        <p>Language fluency:</p>
        <ul>
            {Array.from(languages).map((language) => <li><span class="bold">{language[0]}:</span> <br>&emsp;{language[1]}</li> )}
        </ul>
        <Footer />
	</body>
</html>
